<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD en Django</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>


<body>

    <nav class="navbar navbar-expand-lg bg-primary fs-5 fw-bolder border border-2 border-dark">
        <div class="container">
            <div class="dropdown">
                <button class="btn btn-primary" type="button" data-toggle="dropdown">MENU
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/">Pagina Principal</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="/tareas">Tareas</a>
                    </li>
                    <li>
                        <a href="{% url 'tarea_completa' %}">Tareas Completadas</a>
                    </li>
                    <li>
                        <a href="/singout">Cerrar sesion</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/singup">Registrarse</a>
                    </li>
                    <li>
                        <a href="/singin">Iniciar sesion</a>
                    </li>
                    {% endif %}
                    <li class="nav">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="nav-link">Don't click</a>
                    </li>
                </ul>
              </div>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">Pagina Principal</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="/tareas" class="nav-link">Tareas</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'tarea_completa' %}" class="nav-link">Tareas Completadas</a>
            </li>
            <li class="nav-item">
                <a href="/singout" class="nav-link">Cerrar sesion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="/singup" class="nav-link">Registrarse</a>
            </li>
            <li class="nav-item">
                <a href="/singin" class="nav-link">Iniciar sesion</a>
            </li>
            {% endif %}
            <li class="nav">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="nav-link">Don't click</a>
            </li>
            </ul>
          </div>
        </div>
      </nav>

    <nav>
        <ul>

        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>